argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
blinker==1.9.0
botocore==1.37.33
certifi==2025.1.31
cffi==1.17.1
click==8.1.8
dotenv==0.9.9
Flask==3.1.0
flask-cors==5.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
MarkupSafe==3.0.2
minio==7.2.15
pycparser==2.22
pycryptodome==3.22.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
s3transfer==0.11.4
six==1.17.0
typing_extensions==4.13.2
urllib3==2.4.0
Werkzeug==3.1.3
